<div class="container mt-5 d-flex justify-content-center">
  <div class="container col-md-6">
    <div class="d-flex justify-content-between align-items-center">
      <div class="col-3">
        <form action="/category" method="get">
          <select name="category" id="category" class="col-12 form-select" onchange="this.form.submit()">
            <option value="all">所有支出</option>
            {{#each categories}}
            <option {{#if this.isSelected}}selected{{/if}}>{{this.category}}</option>
            {{/each}}
          </select>
        </form>
      </div>
      <div class="mt-3 d-flex flex-column align-items-end col-8">
        <h6 style="font-weight: 600">總金額</h6>
        <h1 style="color:tomato;font-weight: 600;">{{totalAmount}}</h1>
      </div>
    </div>
    <hr class="mb-1">
    <div class="body">
      {{#each records}}
      <div class="d-flex">
        <div class="d-flex flex-fill align-items-center p-2">
          <div class="d-flex align-items-center flex-fill">
            <div class="me-2 p-0 rounded-circle d-flex align-items-center justify-content-center"
              style="background-color: #eee; width:30px;height:30px">
              <i class="{{this.categoryIcon}}"></i>
            </div>
            <div class="ms-2">
              <p class="lead mb-1 p-0" style="font-weight: 500">{{this.name}}</p>
              <p style="font-size: x-small;color:#666">{{this.date}}</p>
            </div>
            <div class="ms-auto me-3">
              {{this.amount}}元
            </div>
          </div>
          <a class="btn btn-light my-auto" href="records/{{this._id}}/edit"><i
              class="fa-solid fa-pen-to-square"></i></a>
          <form action="./records/{{this._id}}?_method=delete" method="post" class="my-auto deleteForm">
            <buttona class="btn btn-light deleteButton"><i class="fa-solid fa-trash-can deleteButton"></i></button>
          </form>
        </div>
      </div>
      <hr class="my-1">
      {{/each}}
    </div>
    <div class=" d-flex flex-fill justify-content-center">
      <a class="btn btn-primary mt-4" href="/records/new">新增支出</a>
    </div>
  </div>
</div>

{{!-- 刪除按鈕確認提示 --}}
<script>
  const deleteForm = document.querySelector('.deleteForm')
  const body = document.querySelector('.body')

  body.addEventListener('click', event => {
    const target = event.target
    if (target.classList.contains('deleteButton')) {
      event.preventDefault() // 停止瀏覽器預設行為

      const confirmed = confirm('確定要刪除嗎？')

      if (confirmed) {
        deleteForm.submit() // 提交表單
      }
    }
  })
</script>